body {
  font-family: "Special Elite", cursive;
  background-color: #ffe8e8;
}

.header_div {
  background-color: white;
  color: black;
}

.header_div img {
  width: 100px;
}

.main_div {
  background-color: #ffe0f1;
  padding: 10px;
  margin-top: 15px;
  border: 2px solid white;
}

.main_div label {
  background-color: white;
  width: 310px;
  padding-top: 10px;
  margin-bottom: 0px;
  box-shadow: 5px 5px 18px white;
}

#camera,
#result {
  width: 310px;
  height: 300px;
  padding-top: 10px;
  margin-bottom: 0px;
  border: 2px solid white;
  box-shadow: 5px 5px 18px white;
}

button {
  font-size: 20px;
  width: 310px;
  box-shadow: 5px 5px 18px white;
  border: 1px solid white;
}

.footer_div {
  margin-bottom: 50px;
}

.footer_div h4 {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 5px 18px white;
}

.footer_div img {
  width: 70px;
}

.copyright_div {
  position: fixed;
  bottom: 0;
  text-align: center;
  color: gray;
  background-color: white;
  width: 100%;
  line-height: 3;
}
